################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

vcpkg_installed/
x64/
.vs/

/data/yolov3.weights
